@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.body {
  padding: 0;
  margin: 0;
  position: relative;
}
.starlogo {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 19.22px;
  height: 19.21px;
  border-radius: 0.2px;
  color: #12153a;
}

.starlogo img {
  width: 12.03px;
  height: 12.03px;
  border-radius: 0.2px;
  transform: rotate(9.4deg);
}

.guidance {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Resetpassword {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #12153a;
}
.passwordlabel {
  display: block;
  width: 240px;
  height: 30px;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}
.passwordlabel label {
  color: #9fa7b0;
  margin-left: 5px;
}
/* .labelandinputpassword {
    height: 0px;
    width: 0px;
    border-radius: 10px;
    position: absolute;
    top: 350px;
    left: 50.4%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.labelandinputpassword input {
  height: 30px;
  width: 230px;
  border-radius: 10px;
  position: absolute;
  top: 190px;
  left: 50.4%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #d3d8dd;
  padding-left: 10px;
  font-family: Lato;
  font-weight: 400;
}
.labelandinputpassword input:hover {
  box-shadow: 0 0 0 2px #1a78f2;
}
.labelandinputpassword input::placeholder {
  font-size: 30px;
  color: #9fa7b0;
}
.eyelogo {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 190px;
  left: 50.4%;
  transform: translateX(-50%);
  padding-left: 130px;
  padding-top: 8px;
  margin-left: 25px;
}

.confrompasswordlabel {
  display: block;
  width: 240px;
  height: 30px;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}
.confrompasswordlabel label {
  color: #9fa7b0;
  margin-left: 5px;
}
/* .labelandinputpassword {
      height: 0px;
      width: 0px;
      border-radius: 10px;
      position: absolute;
      top: 350px;
      left: 50.4%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    } */
.labelandinputconformpassword input {
  height: 30px;
  width: 230px;
  border-radius: 10px;
  position: absolute;
  top: 270px;
  left: 50.4%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #d3d8dd;
  padding-left: 10px;
  font-family: Lato;
  font-weight: 400;
}
.labelandinputconformpassword input:hover {
  box-shadow: 0 0 0 2px #1a78f2;
}
.labelandinputconformpassword input::placeholder {
  font-size: 30px;
  color: #9fa7b0;
}
.conformeyelogo {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 270px;
  left: 50.4%;
  transform: translateX(-50%);
  padding-left: 130px;
  padding-top: 8px;
  margin-left: 25px;
}
.buttonsave {
  width: 250px;
  height: 30px;
  position: absolute;
  top: 320px;
  left: 50.4%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #fbfbfb;
  font-family: Lato, sans-serif;
  font-weight: 600; */
}
.buttonsave button {
  background-color: #1a78f2;
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 10px;
  margin-left: 5px;
}
.buttonsave button a {
  text-decoration: none;
  color: #fbfbfb;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 10px;
}
.message {
  color: red;
  font-family: 600;
  font-size: 10px;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}
